<div>
    <img src='../pics/banner.PNG'/>
</div>
<div>
    <img width="10%" height="10%" src='../pics/python-programming.png'/>
    <img src='../pics/miw.PNG'/>
</div>
<div>
    <em>Author: Jeroen Boogaard</em>
</div>

<h2>Imports<h2>

In [20]:
from os import system as sys
sys('pip list | grep django || pip install --upgrade -r requirements.txt')

0

In [37]:
import requests
import json
import pandas as pd
import sqlite3

<h3>Global variables</h3>

In [30]:
dbName = "rest_server/medisch_centrum_randstad/db.sqlite3"
tableName = "rest_api_netlify"
url = "http://localhost:8080/medish_centrum_randstad/api/netlify?page=1"
csvFile = "rest_server/medisch_centrum_randstad/data/data.csv"

In [31]:
request = requests.get('http://localhost:8080/medish_centrum_randstad/api/netlify?page=1')

In [33]:
request.headers['content-type']

'application/json'

In [38]:
df = pd.read_json(request.text)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   status               4096 non-null   int64
 1   total_nr_of_records  4096 non-null   int64
 2   nr_of_pages          4096 non-null   int64
 3   page_size            4096 non-null   int64
 4   next                 4096 non-null   object
 5   data                 4096 non-null   object
dtypes: int64(4), object(2)
memory usage: 192.1+ KB

In [42]:
df

,status,total_nr_of_records,nr_of_pages,page_size,next,data
0,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 73.9, 'length': 185.0, 'mass': 99...."
1,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 86.0, 'length': 172.0, 'mass': 105..."
2,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 83.3, 'length': 176.0, 'mass': 111..."
3,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 82.8, 'length': 164.0, 'mass': 111..."
4,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 78.7, 'length': 178.0, 'mass': 71...."
...,...,...,...,...,...,...
4091,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 80.3, 'length': 176.0, 'mass': 115..."
4092,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 75.3, 'length': 162.0, 'mass': 129..."
4093,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 93.1, 'length': 189.0, 'mass': 115..."
4094,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 77.9, 'length': 170.0, 'mass': 90...."
4095,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 101.3, 'length': 188.0, 'mass': 12..."

In [45]:
df_part = df['data']

In [46]:
df_part

0       {'genetic': 73.9, 'length': 185.0, 'mass': 99....
1       {'genetic': 86.0, 'length': 172.0, 'mass': 105...
2       {'genetic': 83.3, 'length': 176.0, 'mass': 111...
3       {'genetic': 82.8, 'length': 164.0, 'mass': 111...
4       {'genetic': 78.7, 'length': 178.0, 'mass': 71....
                              ...
4091    {'genetic': 80.3, 'length': 176.0, 'mass': 115...
4092    {'genetic': 75.3, 'length': 162.0, 'mass': 129...
4093    {'genetic': 93.1, 'length': 189.0, 'mass': 115...
4094    {'genetic': 77.9, 'length': 170.0, 'mass': 90....
4095    {'genetic': 101.3, 'length': 188.0, 'mass': 12...
Name: data, Length: 4096, dtype: object

In [47]:
dict1 = df["data"].to_dict()

In [48]:
# check on first dict
dict2 = dict1[0]

In [49]:
dict2

{'genetic': 73.9,
 'length': 185.0,
 'mass': 99.7,
 'exercise': 0.9,
 'smoking': 0.0,
 'alcohol': 2.4,
 'sugar': 6.9,
 'lifespan': 73.1}

In [50]:
len(dict1)

4096

In [51]:
# new_df = dict1(columns=['genetic', 'length', 'mass', 'exercise', 'smoking', 'alcohol', 'sugar', 'lifespan'])

df_new = pd.DataFrame.from_dict(dict1)

In [52]:
df_new2 = pd.DataFrame.transpose(df_new)

In [53]:
df_new2

      genetic  length   mass  exercise  smoking  alcohol  sugar  lifespan
0        73.9   185.0   99.7       0.9      0.0      2.4    6.9      73.1
1        86.0   172.0  105.4       1.8      8.1      0.4    4.2      85.0
2        83.3   176.0  111.4       1.1      0.8      4.6    7.5      81.6
3        82.8   164.0  111.4       4.7     11.8      1.0    2.9      81.0
4        78.7   178.0   71.6       1.5      8.3      4.9    5.5      75.0
...       ...     ...    ...       ...      ...      ...    ...       ...
4091     80.3   176.0  115.9       3.7      0.1      5.6    5.8      80.7
4092     75.3   162.0  129.6       3.6      6.2      5.6    7.6      71.1
4093     93.1   189.0  115.3       2.7      9.4      4.9    6.6      90.0
4094     77.9   170.0   90.8       2.3     13.2      0.8    6.2      75.9
4095    101.3   188.0  129.2       1.2      8.2      6.0    6.2      96.9

[4096 rows x 8 columns]

<h2>Data Collection</h2>
<img width="30%" height="30%" src="../pics/collect.jpg"/>
<p>De data kan op 3 manieren verzameld worden, dat zijn (op volgorde van kwaliteit van de verzamelingsmethode):</p>

<h3>1. Query SQLite Database</h3>

In [54]:
dbConnection = sqlite3.connect("rest_server_new/rest_server_new/medisch_centrum_randstad/db.sqlite3")

In [55]:
df_new2.to_sql('cleaned_data_2', dbConnection, if_exists='replace', index = False)

4096

In [27]:
dbConnection.close()

<h3>2. Collect Data from REST API Server</h3>

In [70]:
#page1 = requests.get(url).json()

In [71]:
#dfconnection.close()

<h3>3. Collect Data from CSV</h3>

In [72]:
#dfFromCSV = pd.read_csv(csvFile)